@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  width: auto;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  position: relative;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #EDEDED;
  color: #464646;
}

button, li, .enviar {
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover, li:hover, .enviar:hover {
  opacity: 80%;
}

.container {
  overflow: hidden;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}

.menu_container {
  width: 100%;
  padding: 20px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_container .logo {
  width: 35px;
  overflow: hidden;
}
.menu_container .logo img {
  width: 100%;
}
.menu_container .links {
  display: flex;
  gap: 32px;
}
.menu_container .links li:nth-child(1),
.menu_container .links li:nth-child(2),
.menu_container .links li:nth-child(3),
.menu_container .links li:nth-child(4),
.menu_container .links li:nth-child(5) {
  display: none;
}
.menu_container .links li:hover {
  opacity: 80%;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 16px;
}
.home .home__img_personal {
  width: 98px;
  height: 98px;
  display: flex;
  order: 1;
  border-radius: 50%;
  overflow: hidden;
}
.home .home__img_personal img {
  width: 100%;
}
.home .home__title_text {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.home .home__title_text h1 {
  font-size: 22px;
  font-weight: bold;
}
.home .home__title_text .home_links_redes {
  display: flex;
  gap: 8px;
  font-weight: 700;
}

.about-me {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #EAF2FD;
}
.about-me h2 {
  font-size: 22px;
  font-weight: bold;
}

.skills,
.hobbies {
  width: 100%;
  text-align: center;
}
.skills h2,
.hobbies h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 32px;
}
.skills .lenguaje__container,
.skills .hobbies__container,
.hobbies .lenguaje__container,
.hobbies .hobbies__container {
  display: flex;
  flex-grow: 1;
  flex-flow: wrap;
  justify-content: center;
  padding: 0px 16px;
  gap: 32px 16px;
}
.skills .lenguaje__container .lenguajes,
.skills .lenguaje__container .content,
.skills .hobbies__container .lenguajes,
.skills .hobbies__container .content,
.hobbies .lenguaje__container .lenguajes,
.hobbies .lenguaje__container .content,
.hobbies .hobbies__container .lenguajes,
.hobbies .hobbies__container .content {
  width: 100px;
  height: 118px;
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  flex-direction: column;
  padding: 16px;
  background: #FFFFFF;
  color: #2A7AE4;
}
.skills .lenguaje__container .lenguajes .lenguaje__icon,
.skills .lenguaje__container .lenguajes .hobbie__icon,
.skills .lenguaje__container .content .lenguaje__icon,
.skills .lenguaje__container .content .hobbie__icon,
.skills .hobbies__container .lenguajes .lenguaje__icon,
.skills .hobbies__container .lenguajes .hobbie__icon,
.skills .hobbies__container .content .lenguaje__icon,
.skills .hobbies__container .content .hobbie__icon,
.hobbies .lenguaje__container .lenguajes .lenguaje__icon,
.hobbies .lenguaje__container .lenguajes .hobbie__icon,
.hobbies .lenguaje__container .content .lenguaje__icon,
.hobbies .lenguaje__container .content .hobbie__icon,
.hobbies .hobbies__container .lenguajes .lenguaje__icon,
.hobbies .hobbies__container .lenguajes .hobbie__icon,
.hobbies .hobbies__container .content .lenguaje__icon,
.hobbies .hobbies__container .content .hobbie__icon {
  font-size: 32px;
  margin-bottom: 8px;
}
.skills .lenguaje__container .lenguajes p,
.skills .lenguaje__container .content p,
.skills .hobbies__container .lenguajes p,
.skills .hobbies__container .content p,
.hobbies .lenguaje__container .lenguajes p,
.hobbies .lenguaje__container .content p,
.hobbies .hobbies__container .lenguajes p,
.hobbies .hobbies__container .content p {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #464646;
}

.hobbies {
  margin: 16px 0px;
}

.training {
  width: 100%;
  background: #EAF2FD;
  text-align: center;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.training h2 {
  font-size: 22px;
  font-weight: bold;
}
.training .formaciones__container {
  display: flex;
  flex-grow: 1;
  flex-flow: wrap;
  justify-content: center;
  padding: 0px 16px;
  gap: 16px;
}
.training .formaciones__container .formacion,
.training .formaciones__container .project__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
}
.training .formaciones__container .formacion .formacion__logo,
.training .formaciones__container .project__div .formacion__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #FFFFFF;
}
.training .formaciones__container .formacion .formacion__logo img,
.training .formaciones__container .project__div .formacion__logo img {
  width: 100px;
}
.training .formaciones__container .formacion .formacion__descripcion,
.training .formaciones__container .project__div .formacion__descripcion {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  gap: 8px;
}
.training .formaciones__container .formacion .formacion__descripcion h4,
.training .formaciones__container .project__div .formacion__descripcion h4 {
  font-size: 16px;
  font-weight: bold;
}
.training .formaciones__container .formacion .formacion__descripcion p,
.training .formaciones__container .project__div .formacion__descripcion p {
  font-size: 14px;
  font-weight: 600;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
}
.project h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.project .project__container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.project .project__container .project__div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.project .project__container .project__div .img_project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .project__container .project__div .img_project img {
  width: 100%;
}
.project .project__container .project__div .project__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.project .project__container .project__div .project__description h4 {
  font-size: 16px;
  font-weight: bold;
}
.project .project__container .project__div .project__description p {
  font-size: 14px;
  font-weight: 600;
}
.project .project__container .project__div .project__description .btn__links__project {
  display: flex;
  gap: 16px;
}
.project .project__container .project__div .project__description .btn__links__project a button {
  padding: 12px 16px;
  border: 2px solid #2A7AE4;
  color: #2A7AE4;
  font-size: 14px;
  font-weight: 600;
}
.project .project__container .project__div .project__description .btn__links__project a:nth-child(2) button {
  background: #2A7AE4;
  color: #FFFFFF;
}

.contact {
  width: 100%;
  background: #EAF2FD;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}
.contact .contact_img {
  display: none;
}
.contact .formulario h2 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
}
.contact .formulario p {
  font-size: 16px;
  font-weight: 600;
}
.contact form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
  position: relative;
}
.contact form .cuadros_de_texto {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
}
.contact form .cuadros_de_texto label {
  position: absolute;
  left: 12px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.contact form .cuadros_de_texto input {
  width: 100%;
  height: 56px;
  padding: 0px 12px;
  border-radius: 4px;
  border-bottom: 1.5px solid #C8C8C8;
  outline: none;
  font-size: 15px;
}
.contact form .cuadros_de_texto input:focus,
.contact form .cuadros_de_texto input:not(:placeholder-shown),
.contact form .cuadros_de_texto textarea:focus,
.contact form .cuadros_de_texto textarea:not(:placeholder-shown) {
  border-bottom-color: #2A7AE4;
}
.contact form .cuadros_de_texto input:focus + label,
.contact form .cuadros_de_texto input:not(:placeholder-shown) + label,
.contact form .cuadros_de_texto textarea:focus + label[for=mensaje],
.contact form .cuadros_de_texto textarea:not(:placeholder-shown) + label[for=mensaje] {
  transform: translateY(-100%);
  font-size: 12px;
  color: #2A7AE4;
}
.contact form .cuadros_de_texto label[for=mensaje] {
  top: 16px;
}
.contact form .cuadros_de_texto textarea {
  width: 100%;
  min-height: 133px;
  padding: 16px;
  border-radius: 4px;
  border-bottom: 1.5px solid #C8C8C8;
  outline: none;
}
.contact form .enviar {
  text-align: center;
  padding: 12px 16px;
  background: #2A7AE4;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 4px;
}
.contact form .enviar:hover {
  transform: scale(0.98);
}

footer {
  width: 100%;
  background: #FFFFFF;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .menu_container {
    font-size: 18px;
  }
  .menu_container .logo {
    width: 45px;
  }
  .menu_container .links li:nth-child(6) {
    font-weight: bold;
  }
  .home {
    width: 100%;
    flex-direction: row;
  }
  .home .home__img_personal {
    width: 146px;
    height: 146px;
    flex-shrink: 0;
    order: 2;
  }
  .home .home__title_text {
    order: 1;
    width: 100%;
    flex-wrap: wrap;
  }
  .home .home__title_text h1 {
    font-size: 22px;
    font-weight: bold;
  }
  .home .home__title_text .home_links_redes {
    display: flex;
  }
  .menu_container,
  .about-me {
    padding: 20px 32px;
  }
  .home,
  .skills,
  .hobbies {
    padding: 0px 32px;
  }
  .skills .lenguaje__container .lenguajes,
  .skills .lenguaje__container .content,
  .skills .hobbies__container .lenguajes,
  .skills .hobbies__container .content,
  .hobbies .lenguaje__container .lenguajes,
  .hobbies .lenguaje__container .content,
  .hobbies .hobbies__container .lenguajes,
  .hobbies .hobbies__container .content {
    width: 130px;
  }
  .training .formaciones__container .formacion {
    width: 118px;
  }
  .project .project__container .project__div {
    gap: 12px;
  }
  .contact {
    align-items: start;
    justify-content: start;
  }
  .contact .formulario {
    width: 100%;
  }
  .contact .formulario form .enviar {
    width: 133px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 12px 16px;
  }
}
@media (min-width: 1024px) {
  .menu_container {
    padding: 20px 10%;
  }
  .menu_container .logo {
    width: 50px;
  }
  .menu_container .links li:nth-child(1),
  .menu_container .links li:nth-child(2),
  .menu_container .links li:nth-child(3),
  .menu_container .links li:nth-child(4),
  .menu_container .links li:nth-child(5) {
    display: flex;
  }
  .home {
    justify-content: center;
    align-items: center;
    gap: 36px;
  }
  .home .home__img_personal {
    width: 320px;
    height: 320px;
  }
  .home .home__title_text {
    width: 50%;
    height: 150px;
  }
  .about-me {
    padding: 64px 10%;
  }
  .about-me p {
    width: 70%;
  }
  .home,
  .skills,
  .hobbies {
    padding: 0px 10%;
  }
  .skills .lenguaje__container .lenguajes,
  .skills .lenguaje__container .content,
  .skills .hobbies__container .lenguajes,
  .skills .hobbies__container .content,
  .hobbies .lenguaje__container .lenguajes,
  .hobbies .lenguaje__container .content,
  .hobbies .hobbies__container .lenguajes,
  .hobbies .hobbies__container .content {
    width: 80px;
  }
  .training {
    padding: 82px 10%;
  }
  .training .formaciones__container .formacion {
    width: 118px;
  }
  .training .formaciones__container .formacion .formacion__logo {
    height: 226px;
  }
  .training .formaciones__container .formacion .formacion__logo img {
    width: 136px;
  }
  .training .formaciones__container .formacion .formacion__descripcion h4 {
    font-size: 22px;
    font-weight: bold;
  }
  .training .formaciones__container .formacion .formacion__descripcion p {
    font-size: 16px;
    font-weight: 600;
  }
  .project .project__container {
    padding: 0px 10%;
  }
  .project .project__container .project__div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .project .project__container .project__div .img_project {
    width: 80%;
  }
  .project .project__container .project__div .project__description .btn__links__project a button {
    text-wrap: nowrap;
  }
  .project .project__container .project__div:nth-child(2) .img_project,
  .project .project__container .project__div:nth-child(4) .img_project {
    order: 2;
  }
  .project .project__container .project__div:nth-child(2) .project__description,
  .project .project__container .project__div:nth-child(4) .project__description {
    order: 1;
    text-align: left;
  }
  .contact {
    padding: 96px 10% 64px 10%;
    gap: 16px;
  }
  .contact .contact_img {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
