@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$background:#EDEDED;
$black-500:#464646;
$black-400:#A2A2A2;
$black-200:#C8C8C8;
$blue-300:#2A7AE4;
$blue-200:#EAF2FD;
$white:#FFFFFF;
