@use 'variable.scss';

@mixin flex-wrap() {
  display: flex;
  flex-wrap: wrap;
}

@mixin title-section($s, $w) {
  font-size: $s;
  font-weight: $w;
}

// *{
//   margin: 0;
//   padding: 0;
// }

body {
  width: auto;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  position: relative;
  font-family: "Raleway", sans-serif;
  background-color: variable.$background;
  color: variable.$black-500;
}

.container {
  overflow: hidden;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}

// menu

.menu_container {
  width: 100%;
  padding: 20px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 35px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .links {
    display: flex;
    gap: 32px;

    li:nth-child(1),
    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5) {
      display: none;
    }
  }
}

// contenido

.contenido {
  @include flex-wrap();
  gap: 16px;
  margin-top: 16px;
}

// home

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 16px;

  .home__img_personal {
    width: 98px;
    height: 98px;
    display: flex;
    order: 1;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .home__title_text {
    order: 2;
    @include flex-wrap();
    gap: 16px;

    h1 {
      @include title-section(22px, bold)
    }

    .home_links_redes {
      display: flex;
      gap: 8px;
      font-weight: 700;
    }
  }
}

// sobre mi

.about-me {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: variable.$blue-200;

  h2 {
    @include title-section(22px, bold)
  }
}

// skills & hobbies

.skills,
.hobbies {
  width: 100%;
  text-align: center;

  h2 {
    @include title-section(22px, bold);
    margin-bottom: 32px;
  }

  .lenguaje__container,
  .hobbies__container {
    display: flex;
    flex-grow: 1;
    flex-flow: wrap;
    justify-content: center;
    padding: 0px 16px;
    gap: 32px 16px;

    .lenguajes,
    .content {
      width: 100px;
      height: 118px;
      flex-grow: 1;
      display: flex;
      justify-content: end;
      align-items: flex-start;
      flex-direction: column;
      padding: 16px;
      background: variable.$white;
      color: variable.$blue-300;

      .lenguaje__icon,
      .hobbie__icon {
        font-size: 32px;
        margin-bottom: 8px;
      }

      p {
        @include title-section(16px, bold);
        text-align: left;
        color: variable.$black-500;
      }
    }
  }
}

.hobbies {
  margin: 16px 0px;
}

// formación

.training {
  width: 100%;
  background: variable.$blue-200;
  text-align: center;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  h2 {
    @include title-section(22px, bold);
  }

  .formaciones__container {
    display: flex;
    flex-grow: 1;
    flex-flow: wrap;
    justify-content: center;
    padding: 0px 16px;
    gap: 16px;

    .formacion,
    .project__div {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 8px;

      .formacion__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        background-color: variable.$white;

        img {
          width: 100px;
        }
      }

      .formacion__descripcion {
        display: flex;
        flex-flow: column wrap;
        text-align: left;
        gap: 8px;

        h4 {
          @include title-section(16px, bold);
        }

        p {
          @include title-section(14px, 600)
        }
      }
    }
  }
}

// proyectos

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;

  h2 {
    @include title-section(22px, bold);
    text-align: center;
  }

  .project__container {
    display: flex;
    flex-direction: column;
    gap: 64px;

    .project__div {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .img_project {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
        }
      }

      .project__description {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h4 {
          @include title-section(16px, bold);
        }

        p {
          @include title-section(14px, 600);
        }

        .btn__links__project {
          display: flex;
          gap: 16px;

          a {
            button {
              padding: 12px 16px;
              border: 2px solid variable.$blue-300;
              color: variable.$blue-300;
              @include title-section(14px, 600);
            }
          }

          a:nth-child(2) {
            button {
              background: variable.$blue-300;
              color: variable.$white;
            }
          }
        }
      }
    }
  }
}

// contacto

.contact {
  width: 100%;
  background: variable.$blue-200;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;

  .contact_img {
    display: none;
  }

  .formulario {
    h2 {
      margin-bottom: 8px;
      @include title-section(22px, bold);
    }

    p {
      @include title-section(16px, 600);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 32px;
    position: relative;

    .cuadros_de_texto {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      @include title-section(16px, 300);

      label {
        position: absolute;
        left: 12px;
        pointer-events: none;
        transition: all .3s ease;
      }

      input {
        width: 100%;
        height: 56px;
        padding: 0px 12px;
        border-radius: 4px;
        border-bottom: 1.5px solid variable.$black-200;
        outline: none;
        font-size: 15px;
      }

      input:focus,
      input:not(:placeholder-shown),
      textarea:focus,
      textarea:not(:placeholder-shown) {
        border-bottom-color: variable.$blue-300;
      }

      input:focus+label,
      input:not(:placeholder-shown)+label,
      textarea:focus+label[for="mensaje"],
      textarea:not(:placeholder-shown)+label[for="mensaje"] {
        transform: translateY(-100%);
        font-size: 12px;
        color: variable.$blue-300;
      }

      label[for="mensaje"] {
        top: 16px;
      }

      textarea {
        width: 100%;
        min-height: 133px;
        padding: 16px;
        border-radius: 4px;
        border-bottom: 1.5px solid variable.$black-200;
        outline: none;
      }
    }

    .enviar {
      text-align: center;
      padding: 12px 16px;
      background: variable.$blue-300;
      @include title-section(14px, 600);
      color: variable.$white;
      border-radius: 4px;
    }

    .enviar:hover {
      transform: scale(0.98);
    }
  }
}

// footer

footer {
  width: 100%;
  background: variable.$white;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include title-section(16px, 500)
}

// version tablet

@media (min-width: 768px) {
  // menu

  .menu_container {
    font-size: 18px;

    .logo {
      width: 45px;
    }

    .links {
      li:nth-child(6) {
        font-weight: bold;
      }
    }
  }

  // home

  .home {
    width: 100%;
    flex-direction: row;

    .home__img_personal {
      width: 146px;
      height: 146px;
      flex-shrink: 0;
      order: 2;
    }

    .home__title_text {
      order: 1;
      width: 100%;
      flex-wrap: wrap;

      h1 {
        @include title-section(22px, bold)
      }

      .home_links_redes {
        display: flex;
      }
    }
  }

  // sobre mi 

  .menu_container,
  .about-me {
    padding: 20px 32px;
  }

  // skills & hobbies 

  .home,
  .skills,
  .hobbies {
    padding: 0px 32px;
  }

  .skills,
  .hobbies {

    .lenguaje__container,
    .hobbies__container {

      .lenguajes,
      .content {
        width: 130px;
      }
    }
  }

  // formación

  .training {
    width: 100%;
    background: variable.$blue-200;
    text-align: center;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    h2 {
      @include title-section(22px, bold);
    }

    .formaciones__container {
      .formacion {
        width: 118px;
      }
    }
  }

  // proyecto

  .project {
    .project__container {
      .project__div {
        gap: 12px;
      }
    }
  }

  // contacto

  .contact {
    align-items: start;
    justify-content: start;

    .formulario {
      width: 100%;

      form {
        .enviar {
          width: 133px;
          height: 40px;
          display: flex;
          justify-content: center;
          padding: 12px 16px;
        }
      }
    }
  }
}